$primary = #2c3e50
$secondary = #1d6042
$success = #198754
$info =  #0dcaf0
$warning = #ffc107
$danger =  #dc3545
$light = #f8f9fa
$dark =  #343a40

font-size = 14px
font-stack = Arial, sans-serif

html, body
  color: $light
  background $primary
  box-sizing: border-box
  font: font-size font-stack
  padding: 0
  margin: 0

.d-flex
  display: flex

.container
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto